@font-face {
  font-family: 'Futura Bold';
  src: url(font-path('futura/futura_bold.ttf')) format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geo';
  src: url(font-path('geo/geo_light.ttf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geo Oblique';
  src: url(font-path('geo/geo_oblique.ttf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Joe';
  src: url(font-path('joe/slim_joe.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Joe';
  src: url(font-path('joe/joe.otf')) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Biko';
  src: url(font-path('biko/biko_light.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Biko';
  src: url(font-path('biko/biko_regular.otf')) format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Biko';
  src: url(font-path('biko/biko_black.otf')) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Glober';
  src: url(font-path('glober/glober_thin.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neutra';
  src: url(font-path('neutra/neutra_bold.ttf')) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neutra';
  src: url(font-path('neutra/neutra_book.ttf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url(font-path('nexa/nexa_bold.otf')) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url(font-path('nexa/nexa_light.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

