@font-face {
  font-family: 'Proxima Nova';
  src: url(font-path('proxima_nova/proxima_nova_bold.otf')) format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(font-path('proxima_nova/proxima_nova_light.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Book';
  src: url(font-path('futura_book/futura_bold.ttf')) format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geo';
  src: url(font-path('geo/geo_light.ttf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geo Oblique';
  src: url(font-path('geo/geo_oblique.ttf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Biko';
  src: url(font-path('biko/biko_light.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Biko';
  src: url(font-path('biko/biko_regular.otf')) format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Biko';
  src: url(font-path('biko/biko_black.otf')) format('opentype');
  font-weight: 500;
  font-style: normal;
}

