/* ========================================================================
   Custom styles
   ========================================================================== */

// Overall
$primary-color: #4369a9; // blue
$secondary-color: #4369a9; // orange
$black: #333;
$grey: #999;
$background-grey: #f2f2f2;

body, html { height: 100%; width: 100%; font-size: 18px; }

@media (max-width: 767px) {
  body, html { height: 100%; width: 100%; font-size: 14px; }
}

body {
  margin-top: 80px;
  background-color: #fff;
  letter-spacing: -0.02rem;
  line-height: 1.33;
  color: $primary-color;
  font-family: 'Geo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

// Spacing
section {
  padding: 4rem 0;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.line {
  height: 2px;
  background-color: $secondary-color;
  margin: 0 5rem 0 5rem;
}

// Titles
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: 200;
}

h1 {
  font-family: 'Joe', sans-serif;
  color: white;
  font-size: 4.2rem;
  font-weight: 100;
  letter-spacing: 0rem;
  margin: 0 0 0.7rem 0;
}

.action {
  font-family: 'Futura Bold', sans-serif;
  color: white;
  font-size: 4.2rem;
  font-weight: 800;
  letter-spacing: 0rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

h2 {
  font-family: 'Biko', sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 2.3rem;
  margin: 0 0 1.3rem 0;
}

h3 {
  color: $secondary-color;
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 0 0.2rem 0;
  text-align: center;
  letter-spacing: 0.05rem;
}

h4 {
  color: white;
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin: 0 0 3rem 0;
  line-height: 2rem;
}

h5 {
  color: $secondary-color;
  text-transform: none;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 1rem 0 1.5rem 0;
  text-align: center;
  letter-spacing: 0rem;
}


// Paragraph & Typographic
p {
  font-family: 'Geo', sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
  color: $black;
  margin: 0 0 2rem 0;
}

.rol {
  font-family: 'Geo', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: black;
  text-align: center;
  margin: 0.3rem 0 1.5rem 0;
}

.inciso {
  font-family: 'Geo', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: black;
  text-align: left;
  margin: 0.3rem 0 0.3rem 0;
}

.grow {
  font-family: 'Biko', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 3.5rem;
  color: #333;
  letter-spacing: -0.1rem;
  text-transform: none; 
  margin-bottom: 1.7rem;
}

.how {
  font-family: 'Geo', sans-serif;
  font-weight: 300;
  text-align: center;
  color: $secondary-color;
}

// Links
a {
  font-size: 1.25rem;
  color: $black;
  word-wrap: break-word;
}

a.white {
  color: #fff;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

a:hover, a:focus {
  outline: 0;
  opacity: 0.8;
  text-decoration: none;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

.row {
  margin: 0px;
}

// Buttons
.button {
  max-width: 250px;
  color: #fff;
  border: solid 2px $primary-color;
  border-radius: 5px;
  padding: 8px 30px;
  white-space: nowrap;
  opacity: 1;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -ms-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  display: inline-block;
  margin-top: 20px;
  &:hover {
    opacity: 1;
  }
}

.button-primary {
  background: $primary-color;
  border-color: $primary-color;
  &:hover, &:focus {
    color: #fff;
    background: lighten($primary-color, 10%);
    border-color: lighten($primary-color, 10%);
  }
}

.button-secondary {
  font-family: 'Geo', sans-serif;
  background: white;
  color: $primary-color;
  border-color: white;
  &:hover, &:focus {
    color: $primary-color;
    background: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
  }
}

.button-long {
  max-width: 100%;
  white-space: normal;
}

.input {
  font-family: 'Geo', sans-serif;
  font-weight: 100;
}

.contact input {
  border-radius: 0;
  margin-bottom: 10px;
}

.contact textarea {
  border-radius: 0;
  margin-bottom: 10px;
}

.visit {
  margin: 1.2rem 0 1rem 0;
  font-size: 1rem;
}

.capital {
  max-height: 5rem;
  width: auto;
  margin: 1rem auto 0 auto;
}

.mentor {
  margin-top: 1rem;
  height: 8rem;
  width: auto; 
  border-radius: 150px;
  border: 2px solid transparent; 
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.mentor:hover { 
  border: 2px solid $primary-color; 
  opacity: 0.8;
} 

.list-and-picture li {
  margin: 0px 0px 20px 20px;
  background-image: url(/assets/check.png);
  background-repeat: no-repeat;
  min-height: 20px;
}

.cualidad {
  margin-bottom: 2rem;
  margin-top: 2rem;
  height: 3rem;
  width: auto; 
} 

.overlay {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.overlay:hover {
  opacity: 0.7;
}